h1{
    text-align: center;
    background-color: goldenrod;
    font-family: sans-serif;
}

body{
    background-color: antiquewhite;
}

.descripcion{
    font-family: sans-serif;
    text-align: center;
    display: block;
    border: 3px solid yellow;
    margin: auto;
}

.integrantes{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

ul{
    font-size: large;
    font-weight: bold;
}

.contacto{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

.ayuda{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

#legendcontact{
    font-weight: bold;
}

label{
    font-weight: lighter;
}

footer{
    text-align: center;
}