/*Estilo h1*/
h1{
    text-align: center;
    background-color: goldenrod;
    font-family: sans-serif;
}

/*Estilo body(cuerpo) de la pagina*/
body{
    background-color: antiquewhite;
}

/*Estilo de la descripcion de la pagina(<p>)*/
.descripcion{
    font-family: sans-serif;
    text-align: center;
    display: block;
    border: 3px solid yellow;
    margin: auto;
}

/*Estilo de los integrantes*/
.integrantes{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

/*Estilo del texto h2 del apartado de ayuda*/
.ayuda{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

ul{
    font-size: large;
    font-weight: bold;
}

/*Estilo del texto h2 del apartado de contacto*/
.contacto{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}



#legendcontact{
    font-weight: bold;
}

label{
    font-weight: lighter;
}

footer{
    text-align: center;
}